doctype 5
html(data-ng-app="SpokesPerson")
	head
		meta(charset="UTF-8")
		title= SpokesPerson
		link(rel='stylesheet', href='./css/spokesperson.css')
		link(rel='stylesheet', href='http://fast.fonts.com/cssapi/ba002805-f090-46ee-884b-859604968980.css')
		style
			#playerCanvas { border: 2px solid red; }

		script(src='./scripts/jquery-1.11.0.min.js')
		script(src='./scripts/jquery.jplayer.min.js')
		script(src='./scripts/timestring-0.0.19.js')
		block head
	body

		div.trigger1 Trigger1
		div.trigger2 trigger2


		div#spokesperson.spokesperson
			//div#fps(style="position:absolute;background-color:#000;")
			block content

		script(src='./scripts/spokesperson.js')

